body {
    background-color: lightblue;
}
p {
	margin-left: 10px;
	color: MediumSeaGreen;
}
h2 {
	border: 2px solid Orchid;
	border-style: dotted;
	border-radius: 20px;
	text-align: center;
}
#para1 {
	font-family: "Comic Sans MS", cursive, sans-serif;
}
#para2 {
	font-family: Georgia, serif;
}
.resize {
	margin-left: 10px;
	margin-right: 10px;
	width: 50px;
	height: 50px;
}
#left {
	float:left;
}
#right {
	float:right;
}
#big {
	margin: 20px;
	width: 85%;
	height: 85%;
}
#big2 {
	text-align: center;
	margin: 20px;
	width: 85%;
	height: 85%;
}
.container {
	position: relative;
	text-align: center;
    color: white;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
}